body{
    background: url('bg.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400!important;
    color:#00007F;
    overflow-x: hidden;
    height: 100%;
    width:100%;
}

header{
    background-image: url('logo.png');
    margin-right:10rem;
    width: 50rem;
    height: 22rem;
    background-size: cover;
    margin-top: 5%;
    margin-left:5%;
    margin-bottom: 0.3%;
}

.main-inner{
    font-size: 140%;
    padding: 8% 0 0 5%;
    overflow-y: hidden;
    margin-left: 5%;
}
#formG, #estrutD,#numProD,#citaD,#notaRodaD,#resmD,#refeD,#monogD,#pubPerD{
    display: none;
    position: relative;
    margin-left: 5%;
}
.mens p{
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
}
#side{
    margin:0% 0% 0% 5%;
}
.main-inner hr{
    position: inherit;
    margin-right: 15%;
    overflow-x: hidden;
}
.main-inner a{
    color:#00007F;
    text-decoration: none;
    
}
.btn-txt {
    padding:10px 20px;
    margin: 50px 0px;
}
.btn-txt a {
    background:#414872!important;
    padding:10px 20px!important;
    border-radius:15px!important;
    border:none!important;
    font-size:1.2rem!important;
    color:#fff!important;
    font-family:Roboto!important;

}
.btn-txt a:hover {
    background:#4a5382;
}

.topico{    
    cursor: pointer;
    z-index: -1!important;
}
.topico:hover,
.main-inner a:hover{
    padding-right:5px;
    color:#0000FF;
}