#pegaMenu{
    position: fixed;
    margin-top: -6.5%;
    margin-left: -1%;
    width: 110%;
    
}
.menu{
    width: 100%;
    height:50px;
    background-color: #303554;
    font-family: 'Arial';    
    padding: 0;
}
.menu ul{
    list-style: none;
    position: relative!important;
    
}
.menu ul li{
    width: 150px;
    float: left;
    font-weight: 600;
}
.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #303554;
    color: #fff;
}
.menu ul ul {
    position: absolute!important;
    visibility: hidden;
    margin-left: -3%!important;
}
.menu ul li:hover ul{
    visibility: visible;
    
}
.menu a:hover{
    background-color: #4a5382;
    color:#fff;
    cursor: pointer;
}
.menu ul ul li{
    float: none;
}
.menu ul ul li a{
    background-color: #91A1FF;
}
#maisConteudo {
    position: absolute!important;
    visibility: hidden;
    margin-left: 57.5%!important;
    float: left;
    margin-top: -186.5%;
}
#mais:hover #maisConteudo{
    visibility: visible;
}
