.alerta{
    color:orange;
    font-weight: bold;
}
.aSeguir{
    color:darkgreen;
    font-weight: bold;
}
.vocabulario{
    color:darkblue;
    font-weight: bold;
}

body{
    background: url('../../bg.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400!important;
    color:black;
    overflow-x: hidden;
    height: 90%;
}

header{
    color:black;
    font-family: 'Roboto', sans-serif;
    width: 31%;
    margin-top: 5.1%;
    margin-left:5.1%;
    margin-bottom: 8%;
    text-align: left;    
    border-bottom: 30px blue solid;
    border-radius: 15px;
    border-bottom-width: thick;    
}
header h1{
    font-size: 250%;
    position: relative;
    margin-left: 1%;
    
    padding-top: 15%;
}
p{
    font-size: 20px;
    text-align: justify;
    line-height: 110%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    
}
#casosS select{
    background: transparent;
    width:100%;
    margin-left: 2%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    color:black;
}
#casosS {
   margin-left: 10%;
   height: 34px;
   width:78%;
   background: url(img/new_arrow.jpg) no-repeat right #ddd;
   border: 1px solid #ccc; 
}
#casosD img {
    margin-left: 5%;
}
.DivCasos{
    margin-left: 10%;
}
ul,ol{
    text-align: justify;
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    
}
h2,h3,h4,h5,h6{    
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    
}
h2{
    background: #262A42;
    border-radius: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    margin-right: 3%;
    border: outset;
    margin-left: 3%;
    color: white;
    
}

.btn-txt {
    padding:10px 20px;
    margin: 50px 0px;
}
.btn-txt a {
    background:#414872;
    padding:10px 20px;
    border-radius:15px;
    border:none;
    font-size:1.2rem;
    color:#fff;
    font-family:Roboto!important;

}
.btn-txt a:hover {
    background:#4a5382;
}
img{
    margin-left: 10%;
    clear: both;
    display: none;
}
#sectionUm p{
    margin-right: 10%;
    text-align: justify;
}

#TipoTamFonte {
    margin-bottom: -7%;
}
#continuar{
    position: absolute;
    margin-top: 20%;
    margin-left: 82%;
}
#voltar{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.ul2{
    margin-left: 0%;
}