@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
.alerta{
    color:orange;
    font-weight: bold;
}
.aSeguir{
    color:darkgreen;
    font-weight: bold;
}
.vocabulario{
    color:darkblue;
    font-weight: bold;
}

body{
    font-family: Georgia, sans-serif;
    color:black;
    overflow-x: hidden;
    height: 100%;
}

header{
    background-color: white;
    color:black;
    font-family: sans-serif;
    width: 31%;
    margin-top: 5%;
    margin-left:5%;
    margin-bottom: 8%;
    text-align: left;    
    border-bottom: 30px blue solid;
    border-radius: 15px;
    border-bottom-width: thick;    
}
header h1{
    font-size: 250%;
    position: relative;
    margin-left: 1%;
}
p{
    font-family: 'Slabo 27px', serif;
    padding: 1%;
    position: relative;
    margin-left: 7%;    
}
ul,ol{
    
    position: relative;
    margin-left: 7%;
}
h2,h3,h4,h5,h6{    
    position: relative;
    margin-left: 5%;
}
h2{
    background-color: skyblue;
    border-radius: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%; 
    border: outset;
    margin-left: 3%;
}

img{
    display: none;
    clear:both;
    margin-left: 8%;
}
#Margem,#TipoTamFonte,#EspacoEntreLinhas,#numProgressiva,#paginacao,#equacoes,#ilustracoes,#tabelas,#citacoes,#notasDeRodape,#refer{
    margin-top: -7%;
    display: none;
    margin-right: 5%;
    margin-left: 5%;
}
#continuar{
    margin-top: 20%;
    margin-left: 80%;    
    
}
a{
    text-decoration: none;
}