#numProgressiva{
    margin-bottom: -15%;
}
.alerta{
    color:darkblue;
    font-weight: bold;
}

body{
    background: url('../../bg.png');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400!important;
    color:black;
    overflow-x: hidden;
    height: 90%;
}

header{
    color:black;
    font-family: 'Roboto', sans-serif;
    width: 31%;
    margin-top: 5.1%;
    margin-left:5.1%;
    margin-bottom: 8%;
    text-align: left;    
    border-bottom: 30px blue solid;
    border-radius: 15px;
    border-bottom-width: thick;    
}
header h1{
    font-size: 250%;
    position: relative;
    margin-left: 1%;    
    padding-top: 15%;
}
p{
    font-size: 120%;
    text-align: justify;
    line-height: 110%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    margin-left: 9%;
    margin-right: 9%;    
}
h2{
    background: #262A42;
    border-radius: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    margin-right: 3%;
    border: outset;
    margin-left: 3%;
    color: white;
    position: relative;   
}
h3{    
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 150%;    
}
h4{    
    position: relative;
    margin-left: 11%;
    margin-right: 11%;
    font-size: 120%;
}
ol{
    text-align: justify;
    position: relative;
    margin-left: 13%;
    margin-right: 13%;    
}
.btn-txt {
    padding:10px 20px;
    margin: 50px 0px;
}
.btn-txt a {
    background:#414872;
    padding:10px 20px;
    border-radius:15px;
    border:none;
    font-size:1.2rem;
    color:#fff;
    font-family:Roboto!important;

}
.btn-txt a:hover {
    background:#4a5382;
}
img{
    margin-left: 10%;
    clear: both;
}
#continuar{
    position: absolute;
    margin-top: 20%;
    margin-left: 82%;
    margin-bottom: 0;
    padding-bottom: 2%;
}
#voltar{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 0;
    padding-bottom: 2%;
}
a{
    text-decoration: none;
    cursor: pointer;
}
